@page
@model HotelApp.Web.Pages.BookingConfirmedModel
@{
    ViewData["Title"] = "Booking Confirmed!";
}

<h3>Pack your bags...</h3>
<h2>Your Booking is Confirmed!</h2>

<div class="card">
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>Checking in on: @Model.DesiredStartDate.Date.ToString("MMMM dd, yyyy")</p>
    <p>Checking out on: @Model.DesiredEndDate.Date.ToString("MMMM dd, yyyy")</p>
    <p>Confirmation number: @Model.ConfirmationNumber</p>
</div>
<p>We look forward to seeing you!</p>