@page
@model HotelApp.Web.Pages.BookingConfirmedModel
@{
    ViewData["Title"] = "Booking Confirmed!";
}

<h3 class="mt-2">Pack your bags...</h3>
<h2>Your Booking is Confirmed!</h2>

<div class="card p-2">
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Room Type: @Model.RoomType</p>
    <p>Checking in on: @Model.ConfirmedStartDate.ToString("MMMM dd, yyyy")</p>
    <p>Checking out on: @Model.ConfirmedEndDate.ToString("MMMM dd, yyyy")</p>
    <p>Confirmation number: @Model.ConfirmationNumber</p>
</div>
<p>We look forward to seeing you!</p>