@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ready for your next getaway?  Book with AwesomeHotel now!</h1>
    <p>Choose Your Desired Date Range:</p>

    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.DesiredStartDate"/>
            <input type="date" asp-for="@Model.DesiredStartDate"/>
        <div />
        <div class="form-group">
            <label asp-for="@Model.DesiredEndDate" />
            <input type="date" asp-for="@Model.DesiredEndDate" />
        <div />
        <button type="submit" class="btn btn-primary">Search Rooms</button>
    </form>
</div>

    @if (Model.AvailableRoomTypes?.Count > 0)
    {
        <div>
        <h2 class="text-center">All Rooms Available Between @Model.DesiredStartDate.Date.ToString("MMMM dd, yyyy") and @Model.DesiredEndDate.Date.ToString("MMMM dd, yyyy")</h2>
            
        </div>
            @foreach(var room in Model.AvailableRoomTypes)
            {
                <div class="card">
                    <p>@room.Type</p>
                    <p>@room.Description</p>
                    <p>@string.Format("{0:C}", room.Price)</p>
                    <div ><a 
                        asp-page="/BookRoom"
                        asp-route-roomtypeid="@room.Id" 
                        asp-route-desiredstartdate="@Model.DesiredStartDate.ToShortDateString()"
                        asp-route-desiredenddate="@Model.DesiredEndDate.ToShortDateString()"
                    >Book This Room</a>
                    </div>
                </div>
                <br/>
            }
        
    }
    

